.map-container {
    width: 99vw;
    height: 80vh;
}

.marker {
    background-image: url('../assets/point_icon.png');
    background-size: cover;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
  }