@media (max-width: 850px) {
    .container{
        width: 100vw;
    }

    .section2{
        width: 100vw;

        h5{
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0.18px;
            text-align: left;
        }
    }

    .descriptionProyect{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-family: $roboto;
        font-style: normal;
    }

    .itemsDescriptionProyect{
        order: 2;
        font-family: $roboto;
        font-style: normal;
        color: $gris1;
        font-weight: 400;
        padding: 0em 1em;

        h4{
            line-height: 16px;
            letter-spacing: 0.18px;
            text-align: left;
            font-weight: 400;
        }
        h2{
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0px;
            text-align: left;
            font-weight: 400;
        }
    
        p{
            color: $gris2;
            font-size: 12px;
            font-weight: 500;
            line-height: 14px;
            letter-spacing: 0.15px;
            text-align: left;

        }
    
        .itemsSevices{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

    
            .service{
                width: 15em;
                border: $negro-toroto solid 0.1em;
                font-size: 12px;
                font-weight: 500;
                line-height: 14px;
                letter-spacing: 0.1px;
                text-align: left;
                border-radius: 30px;
                margin: 0em 0.1em 0.5em 0.1em;
                padding: 0.3em 0.1em;
                display: flex;
                align-items: center;

                

            }
        }
    }

    .imgProyect{
        width: 100vw;
        order: 1;
    }

    .descriptionProblem{
        order: 3;
        font-family: $roboto;
        font-style: normal;
        font-weight: 400;
        padding: 0em 1em;
        color: $gris1;

        h3{
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.18px;
            text-align: left;

        }

        p{
           
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.5px;
            text-align: left;

        }
    }


    .implementation{
        // width: 100%;
        display: flex;
        flex-direction: column; 
        font-family: $roboto;
        font-style: normal;
        padding: 0em 1em;
        color: $negro-toroto;

        h2{
            font-size: 24px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0px;
            text-align: left;

            .tooltip{
                background: none;
                border:none;
                
                img{
                    width: 1.2em;
                }
            }

        }

        .activities{
            font-family: $roboto;
            font-style: normal;

            details{
                height: auto;
                border-top: $gris2 solid 1px;
                font-style: normal;
                color: $gris1;
                cursor: pointer;

                summary{
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 14px;
                    letter-spacing: 0.15px;
                    text-align: left;
                    border-top: $gris1 solid 0.1em;
                    padding: 1em 0em;
                    transition: background-color 1s,color 1s;

                    p{
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 16px;
                        letter-spacing: 0.5px;
                        text-align: left;
                    }
                }
            }

            details[open] summary{
                background: $primary-color;   
                color: $white;
            }
        }
    }

    .sectionWorksMap{
        font-family: $roboto;
        font-style: normal;
        padding: 01em 1em;

        iframe{
            width: 90vw;
            height: 20em;
        }
    }

    .gallery{
        font-family: $roboto;
        font-style: normal;
        padding: 0em 1em;
        display: flex;
        flex-direction: column;
    }

    

.containerImpact{
    font-family: $roboto;
    font-style: normal;
    padding: 0 1em;

    h2{
     
        font-size: 20px;
        font-weight: 500;
        line-height: 56px;
        letter-spacing: 0px;
        text-align: left;
        color: $negro-toroto;
    }
    
    .containerCards{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
        justify-content: center;

    }
}

.cardImp{
    width: 40%;
    display: flex;
    flex-direction: column;
    font-family: $roboto;
    font-style: normal;
    position: relative;
    z-index: 3;
    margin: 1em 0.5em;

      h2{
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: left;
      }
    
    p{
        margin: 0;
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 0.15px;
        text-align: center;
        color:$gris1;


    }
    h3{
        color: $primary-color;
        margin: 0;
        font-size: 45px;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: -0.5px;
        text-align: center;
    }

    .backgroundCard{
        width: 100%;
        height: 3em;
        background: $gris5;
        position: absolute;
        z-index: -1;
        bottom: 0;
        border-radius: 10px;
        }
    }

    .containerAbout{
        text-align: center;
        font-family: $roboto;
        font-style: normal;
        color: $gris1;
        margin-bottom: 2em;
        padding: 0em 1em;


        h3{
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: center;
            color: $gris1;
        }

        p{
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0.5px;
            text-align: center;
        }
    
        button{
            width: 100%;
            height: 3em;
            font-size: 14px;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: 1.25px;
            text-align: center;
            background: $negro-toroto;
            border: none;
            color: $white;
            border-radius: 10px;
            cursor: pointer;
            text-transform: uppercase;

                 &:hover{
                background: $warning;
                color: $negro-toroto;
                font-weight: 600;
            }
        }
    }
}



@media (min-width: 850px) {

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.section2{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.descriptionProyect{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2em;
    font-family: $roboto;
    font-style: normal;

}

.itemsDescriptionProyect{
    width: 48%;
    height: auto;
    padding: 0.5em;

    h4{
        font-size: 1.5em;
        font-weight: normal;
        color: $gris1;
    }
    h2{
        font-size: 3em;
        font-weight: normal;
        color: $gris1;
    }

    p{
        color: $gris2;
    }

    .itemsSevices{
        display: flex;
        flex-wrap: wrap;

        .service{
            width: 20em;
        }
    }

}

.imgProyect{
    width: 48%;
    height: 30em;
    border-radius: 70px;
    padding: 2em 0.5em 0.5em 0.5em;
}

.descriptionProblem{
    width: 100%;
    color: $gris1;
    font-family: $roboto;
    font-style: normal;
    letter-spacing: 0.5px;

    h3{
        font-size: 1.5em;
        font-weight: 400;
    }
}

.implementation{
    width: 80%;
    display: flex;
    flex-direction: column; 
    font-family: $roboto;
    font-style: normal;

    h2{
        color: $negro-toroto;
        font-weight: normal;
        font-size: 3em;

        .tooltip{
            background: none;
            border: none;
            cursor: pointer;

            img{
                width: 2.3em;

                &:hover{
                    filter: invert(70%) sepia(98%) saturate(540%) hue-rotate(345deg) brightness(101%) contrast(101%);
                }
            }
        }
    }

    .activities{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
       
        h5{
            font-family: $roboto;
            font-size: 1.5em;
            font-style: normal;
            font-weight: normal;
            color: $gris1;
            margin: 1em 0em;
        }

        .descriptionActivities{
            margin: 0em 1em;
        }
    }
}

details{
    height: auto;
    border-top: $gris2 solid 1px;
    font-family: $roboto;
    font-style: normal;
    color: $gris1;
    cursor: pointer;

    summary{
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.15px;
        text-align: left;
        transition: background-color 1s,color 1s;
        padding: 0.5em 0em;
    }

    p{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.5px;
        text-align: left;

    }
}

details[open] summary {
    background: $primary-color;
    color: $white;
}

.sectionWorksMap{
    font-family: $roboto;
    font-style: normal;
    h5{
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.18px;
        text-align: left;
        color: $gris1;
    }

}


.containerImpact{
    width: 80%;

    h2{
        font-family: $roboto;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 56px;
        letter-spacing: 0px;
        text-align: left;
        color: $negro-toroto;
    }
    
    .containerCards{
        display: flex;
        justify-content: space-between;
    }
}

.cardImp{
    display: flex;
    width: 20%;
    flex-direction: column;
    align-items: center;
    font-family: $roboto;
    font-style: normal;
    position: relative;
    z-index: 3;

    .backgroundCard{
        width: 100%;
        height: 6em;
        background:$gris5;
        position: absolute;
        z-index: -1;
        bottom: 0;
        border-radius: 10px;
        
    }


    h3{
        font-size: 50px;
        margin: 0;
        color: $primary-color;
        font-weight: 700;
        letter-spacing: -0.5px;
    }
    
    p{
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.15px;
        text-align: center;
        margin: 0;
        border-radius: 10px;
        padding-bottom: 1em;
        width: 7em;
    }
}


.containerAbout{
    width: 80%;
    text-align: center;
    font-family: $roboto;
    font-style: normal;
    padding: 6em 0em 9em 0em;
    color: $gris1;

    h3{
        font-size: 34px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0px;
    }

    p{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.5px;
        text-align: left;
    }

    button{
        width: 100%;
        height: 3em;
        background: $negro-toroto;
        color: $white;
        border: none;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 1.25px;
        text-align: center;
        margin-top: 2em;
        cursor: pointer;
        text-transform: uppercase;


        &:hover{
            background: $warning;
            color: $negro-toroto;
            font-weight: 600;
        }
    }
}


.modalInfo{
    width: 45em;
    height: 40em;
    display: grid;
    grid-template-rows: 35% 65%;
    grid-template-columns: 100%;
    border-radius: 10px;
    position: relative;
}
.close{
    position: absolute;
    font-size: 2em;
    background: none;
    top: 0.2em;
    right: 0.5em;
    border: none;
    font-weight: bolder;
}

.modalImage{
    grid-row-start:1 ;
    grid-row-end:2;
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modalText{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: $white;
    height: 100%;
    grid-row-start:2;
    grid-row-end:3;
    display: grid;
    grid-template-rows: 15% 20% 30% 15% 20%;
    grid-template-columns: 100%;
    padding: 0em 2em;
    display: flex;
    flex-direction: column;

    .titleProcess{
        display: flex;

        h3{
            margin-left: 2em;
            font-size: 1.5em;
        }
    }

    h5 {
        margin: 0;
        font-size: 1em;
    }
    }

    .sectionWorksMap{
        width: 80%;
        margin-top: 2em;
        iframe{
            width: 100%;
            height: 35em;
        }
    }

    .gallery{
        width: 80%;
        height: auto;
        h5{
            font-family: $roboto;
            font-size: 1.5em;
            font-style: normal;
            font-weight: normal;
            color: $gris1;
            margin: 1em 0em;
            margin-top: 2em;
        }
    }
}