.sectionMap{
        // width: 100%;
        height: 90vh;
        position: relative;
        display: flex;
    }
    
    .textContainer{
        width: 22em;
        position: absolute;
        top: 11em;
        left: 5em;
        font-family: $roboto;
    
        h1{
            font-size: 3em;
            color: $secondary-color;
            font-weight: 400;
            font-style: normal;
        }
    
        h3{
            color: $secondary-color;
            font-weight: 500;
            font-style: normal;

        }
    
        button{
            background: $secondary-color ;
            border: none;
            color: white;
            width: 20vw;
            height: 3em;
            font-size: 1em;
            border-radius: 5px;
            font-weight: 500;
        }
    } 
    
        .nextSecction{
            width:18em;
            position: absolute;
            top: 73%;
            left: 45%;
            display: flex;
            flex-direction: column;
            text-align: center;

          h4{
            color: $secondary-color;
            font-size: 1.2em; 
            font-size: $oswald;
            font-weight: 600;
            font-style: normal;
          }
    }