.section1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .titleSection1{
        font-size: 3em;
    }

    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.card{
    width: 40em;
    height: 45em;
    display: grid;
    grid-template-rows: 40% 60%;
    grid-template-columns: 100%;
    margin: 1em;
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgb(99, 99, 99);;
}

.cardImagen{
    grid-row-start:1 ;
    grid-row-end:2;
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cardInformation{
    grid-row-start:2 ;
    grid-row-end:3;
    padding: 0.5em 1.5em 0em 1.5em;

    button{
        width: 100%;
        height: 3em;
        margin-top: 2em;
        text-transform: uppercase;
        cursor: pointer;

        &:hover{
            background: $primary-color;
            color: white;
            border: none;
        }
    }

    .cardServices{
        display: flex;
    }
}

.service{
    display: flex;
    align-items: center;
    border: rgb(0, 0, 0) solid 0.1em;
    padding: 0.3em;
    margin: 1em;
    border-radius: 30px;
    font-size: 0.7em;

   img{
       margin-right: 0.5em;
   }
}


