$primary-color: #1930db;
$font-family:  "Oswald", sans-serif;
$secondary-color: #373737;
$white: #fff;
$warning: #ffbc15;

@import "./header";
@import "./section1";

.sectionMap{
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
}

.textContainer{
    width: 22em;
    position: absolute;
    top: 8em;
    left: 3em;

    h1{
        font-size: 2.5em;
        color: $secondary-color;
    }

    h3{
        color: $secondary-color;
    }

    button{
        background: $secondary-color ;
        border: none;
        color: white;
        width: 20vw;
        height: 3em;
        font-size: 1em;
        border-radius: 5px;
    }
} 

    .nextSecction{
        width:18em;
        position: absolute;
        top: 73%;
        left: 45%;
        display: flex;
        flex-direction: column;
        text-align: center;


      h4{
        color: $secondary-color;
        font-size: 1.2em; 
      }
}